*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    height: 1000px;
}

li{
    list-style: none;
}

a{
    text-decoration: none !important;
}

/* header */
.header_area{
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f2f4f8;
    background: white;
    transition-duration: 500ms;
}

.header_area.sticky {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 30px rgb(0 0 0 / 15%);
}

.header_wrap{
    height: 100%;
    display: flex;
}

.nav_left_side{
    height: 85px;
    padding: 5px 0 5px 5%;
    min-width: 50%;
    display: flex;
    width: 50%;
    flex: 0 0 50%;
    align-items: center;
}

.nav_left_side img{
    margin-right: 30px;
}

.nav_left_side-lst{
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 0;
}

.nav_left_side-item{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_left_side-item a{
    color: #787878;
    font-size: 16px;
    padding: 0 12px;
    display: block;
    font-family: "Poppins",sans-serif;
}

.mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    top: 76px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.mega-box::before{
    content: "";
    position: relative;
    top: -10px;
    height: 10px;
    background-color: transparent;
    display: block;
}

.nav_left_side-item .content{
    background: #fff;
    padding: 15px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
}



.row{
    width: 25%;
    border-right: 1px solid #f2f4f8;
    padding: 0 15px;
}

.menu_img{
    width: 25%;
    display: inline-block;
    float: left;
}

.menu_img img{
    width: 365px;
}

.mega-links li a{
    padding: 0;
    font-size: 14px;
    color: #787878;
    padding: 0 8px;
    line-height: 35px;
    transition: all 0.3s;
}

.drop-menu{
    width: 180px;
    position: absolute;
    background-color: #fff;
    top: 75%;
    z-index: 100;
    height: auto;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
}

.drop-menu li{
    border-bottom: 1px solid #f2f4f8;
}

.drop-menu li a{
    padding: 0 20px;
    display: block;
    height: 35px;
    line-height: 34px;
    font-size: 14px;
}

.nav_left_side-item:nth-child(2):hover .drop-menu{
    visibility: visible;
    opacity: 1;
}

.title{
    font-size: 14px;
    border-bottom: 1px solid #f2f4f8;
    padding: 8px 8px;
}

.nav_left_side-item:first-child:hover .mega-box{
    visibility: visible;
    opacity: 1;
}

.mega-links li a:hover{
    color: #000;
}

.nav_right_side{
    height: 85px;
    display: flex;
    align-items: center;
    width: 50%;
    flex: 0 0 50%;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}

.search_area form{
    position: relative;
    border-left: 1px solid #ebebeb;
}

.search_area form input{
    border: none;
    background-color: #fff;
    width: 200px;
    height: 85px;
    padding: 0 15px 0 60px;
    color: #787878;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    transition-duration: 500ms;
}

.search_area form input:focus-visible{
    outline: none;
}

.search_area form input:focus{
    outline: none !important;
    width: 350px;
}

.search_area form button{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background-color: transparent;
    border: none;
    color: #787878;
    font-size: 14px;
}

.scroll-top-btn {
    position: fixed;
    bottom: 7.2%;
    right: 60px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    height: 40px;
    width: 40px;
    background: #ff084e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
}

.scroll-top-btn i{
    font-size: 15px;
    color: white;
}

.scroll-top-btn.active {
    visibility: visible;
    opacity: 1;
}

/* body */
.favorite_area a{
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    flex: 0 0 90px;
    width: 90px;
    display: block;
    text-align: center;
    border-left: 1px solid #ebebeb;
    height: 100%;
    line-height: 80px;
    color: black;
}

.favorite_area a i{
    font-size: 20px;
}

.favorite_area a span{
    font-family: "Ubuntu",sans-serif;
    font-size: 18px;
    color: #0315ff;
    font-weight: 700;
    position: absolute;
    top: -13px;
}

/* first content */
.welcome{
    height: 600px;
    position: relative;
    top: 85px;
}

.bg-image{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    padding: 0 30px;
    margin-right: auto;
    margin-left: auto;
}

.h-100{
    height: 100% !important;
}

.big_row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center{
    align-items: center !important;
}

.hero-content h6{
    font-size: 18px;
    color: #787878;
    margin-bottom: 10px;
    font-family: "Ubuntu",sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

.hero-content h2{
    font-size: 60px;
    color: #000000;
    margin-bottom: 50px;
    font-family: "Ubuntu",sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
}

.essence-btn{
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: all 0.5s;
    text-align: center;
}

.essence-btn:hover{
    color: #ffffff;
    background-color: #dc0345;
}

.section-padding-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.justify-content-center{
    justify-content: center !important;
}

.single_catagory_area{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 240px;
    transition-duration: 500ms;
}

.d-flex{
    display: flex !important;
}

.clearfix::after{
    display: block;
    clear: both;
    content: "";
}

.move-down{
    transform: translateY(85px);
}

.mgt-80{
    margin-top: 85px;
}

.single_catagory_area .catagory-content a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins",sans-serif;
    transition: all 0.3s;
}

.single_catagory_area:after {
    transition-duration: 500ms;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.single_catagory_area:hover .catagory-content a {
    color: #0315ff;
    cursor: pointer;
}

.cta-area {
    position: relative;
    z-index: 1;
}

.cta-area .cta-content {
    width: 100%;
    height: 550px;
}

.justify-content-end{
    justify-content: flex-end !important;
}

.cta-area .cta-content .cta--text {
    padding-right: 150px;
}

.cta-area .cta-content h6 {
    font-size: 24px;
    color: #dc0345;
    margin-bottom: 10px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    margin-top: 0;
}

.cta-area .cta-content h2 {
    font-size: 60px;
    color: #000000;
    margin-bottom: 50px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    margin-top: 0;
}

.section-heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.text-center {
    text-align: center!important;
}

.section-heading h2 {
    font-size: 30px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-top: 5px;
    color: #000;
}

.justify-content-between{
    justify-content: space-between !important;
}

.brands-area {
    position: relative;
    z-index: 1;
    background-color: #f5f7f9;
    padding: 100px 5%;
}

.brands-area .single-brands-logo img {
    max-width: 120px;
}


.img_wrap img{
    width: 100%;
}

.single-product-wrapper{
    margin-left: 30px;
    
}

.single-product-wrapper .product-description {
    position: relative;
    z-index: 1;
    padding-top: 25px;
}

.single-product-wrapper .product-description span {
    font-size: 10px;
    text-transform: uppercase;
    color: #787878;
    margin-bottom: 15px;
    letter-spacing: 0.75px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
}

.single-product-wrapper .product-description h6 {
    color: #222222;
    margin-bottom: 5px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

.single-product-wrapper .product-description p {
    margin-bottom: 0;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #000000;
}

.hover_img{
    z-index: 10;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s;
    transform: translateY(-338px);
}

.single-product-wrapper:hover .hover_img{
    visibility: visible;
    opacity: 1;
    
}

.img_wrap{
    height: calc(676px/2);
}

.hover-content {
    position: absolute;
    top: 265px;
    opacity: 0; 
    visibility: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 999;
    transform: translateX(35px);
    width: 215px;
}

.single-product-wrapper:hover .hover-content{
    visibility: visible;
    opacity: 1;
}

.single-product-wrapper .product-description p span {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #aaaaaa;
    margin-right: 10px;
    text-decoration: line-through;
}

.single-product-wrapper .img_wrap .product-badge.new-badge {
    background-color: #0315ff;
}

.single-product-wrapper .img_wrap .product-badge.sale-badge {
    background-color: #dc0345;
}

.single-product-wrapper .img_wrap .product-badge {
    height: 25px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    line-height: 25px;
    position: absolute;
    top: 20px;
    transform: translateX(20px);
    z-index: 10;
}

.footer_area{
    position: relative;
    z-index: 1;
    background-color: #252525;
    padding: 70px 0 60px;
}

.footer_area .single_widget_area .footer_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_area .single_widget_area .footer_menu ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    padding: 0 10px;
    text-transform: capitalize;
}

.mb-30{
    margin-bottom: 30px !important;
}

.mr-50{
    margin-right: 50px !important;
}

.footer_area .single_widget_area .footer_widget_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer_area .single_widget_area .footer_widget_menu li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
}

.footer_area .single_widget_area .footer_widget_menu li a {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Poppins",sans-serif;
}

.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}

.footer_area .single_widget_area .footer_heading h6 {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}

.footer_area .single_widget_area .subscribtion_form form {
    position: relative;
    z-index: 1;
    width: 270px;
}

.footer_area .single_widget_area .subscribtion_form form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    height: 35px;
    background-color: transparent;
    font-family: "Poppins",sans-serif;
}

.footer_area .single_widget_area .subscribtion_form form button {
    width: 30px;
    height: 35px;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.footer_area .single_widget_area .footer_social_area a {
    color: #ffffff;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
}

.mt-5 {
    margin-top: 4rem!important;
}

.text-center {
    text-align: center!important;
}

.text-center p{
    color: #787878;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}

.text-center p a{
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: 0 solid transparent;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
}